.footer {
  background: $color_base;
  &__container {
    @include container("footer");
  }
  &__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 4rem 0;
  }
  &__menu-item {
    font-size: 2.2rem;
    margin: 0 1.6rem;
    display: flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    border: .5px solid $color_sub;
    border-radius: 50%;
    box-shadow: 5px 5px 10px #c9cbcf, -5px -5px 10px #ffffff;
    @include transition();
    cursor: pointer;
    &:hover,
    &:focus {
      box-shadow: none;
    }
  }
  &__copy {
    padding: 1.6rem 0;
    color: $color_text;
    font-size: 1.2rem;
    text-align: center;
  }
}
